.heroText {
  font-size: 60px;
  font-weight: 800;
  margin: 0%;
}
.name {
  font-size: 80px;
  color: transparent;
  background: linear-gradient(90deg, #3b82f6, #6366f1, #a855f7, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  font-style: italic;
}
h1 {
  width: 500px;
}
h3 {
  width: 500px;
}
p{
    width: 500px;
    color: rgb(156, 154, 154);
    margin: 0%;
    margin-top: 10px;
    font-size: larger;
}
#Dynamic{
        width: 500px;
    }

#ProjectButton{

  padding: 14px 32px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(
    135deg,
    rgba(59, 130, 246, 0.9),
    rgba(139, 92, 246, 0.9)
  );
  backdrop-filter: blur(12px);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all .35s ease;
  margin-top: 30px;
  
}
#ProjectButton:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 25px rgba(59, 130, 246, .4),
    0 0 45px rgba(139, 92, 246, .3);
}
#ResumeButton{

  padding: 14px 32px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background:black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.35);
  
}
#ResumeButton:hover {
  background: rgb(17, 17, 17);
}